body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 600px;
    padding: 20px;
}

h1 {
    margin: 20px 0 60px 0;
    font-size: 5rem; /* Increase title size */
    color: #1db954;
}

.track-list {
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-transform: uppercase; /* Convert text to uppercase */
}

li:hover {
    background-color: #333333;
}

li.playing {
    background-color: #1db954;
    color: #ffffff;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

audio {
    display: none; /* Hide the default audio player */
}

.player-controls {
    display: flex;
    gap: 20px; /* Increase gap between controls */
    margin-bottom: 10px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

button i {
    font-size: 60px; /* Increase icon size */
    color: #1db954;
}

button:hover {
    transform: scale(1.1);
}

#progressBar {
    width: 100%;
    margin-top: 10px;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    background: #1db954;
    cursor: pointer;
    outline: none;
    transition: background 0.3s;
}

#progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#progressBar::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
